@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+ID+Guides&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}


/* Shared Style */
.primary-bg {
    background-color: #F5F5F5;
}

.secondery-bg {
    background-color: #C6E4D6;
}

.box-bg {
    background-color: #FFFFFF;
}

.hover:hover {
    background-color: #e23333;
    /* background-color: #C6E4D6; */
}

.transition {
    transition: 0.3s;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 600;
}
.medium{
    font-weight: 500;
}
.section-title{
    font-weight: bold;
    font-size: 40px;
}
.section-description{
    font-weight: bold;
    color: #0E0E0E;
    opacity: 70%;
}


/* nav bar style */
header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
    align-items: center;
}

.logo {
    color: #0E0E0E;
    font-size: 32px;
    margin: 31px 0;
}

.sign-in {
    color: #006A50;
    font-size: 18px;
    padding: 15px 30px;
    margin: 24px 0;
    border: none;
    border-radius: 8px;
}

/* Banner Section */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 20px 160px 80px 160px;
    border-radius: 24px;
}

.banner-content {
    margin: 117px 0 117px 60px;
}
.banner-title{
    font-size: 24px;
    color: #0E0E0E;
    opacity:  50%;
}
.banner-description{
    font-size: 56px;
    color: #0E0E0E;
    margin-top: 16px;
}
.banner-button{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 34px;
    font-size: 18px;
    border: none;
    margin-top: 24px;
}
.banner-button:hover{
    background-color: red;
}
.banner-image {
    margin: 80px 60px 80px 0;
}

/* Pillars Section style */

.pillars{
    margin: 0 160px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.pillars-cards{
    display: flex;
    gap: 24px;

}
.pillars-cards .card {
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14,0.15);
}
.pillars-cards .card .card-title{
    margin-top: 24px;
    font-size: 20px;
}
.pillars-cards .card .card-description{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
    margin-top: 12px;
}

/* Vision Section start */
.vision{
    margin: 80px 160px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.vision .desandtitle{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.vision .cards{
    display: flex;
    gap: 24px;
}
.vision .cards .card-1, .card-2, .card-3{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    border-radius: 16px;
}
.vision .cards .icon{
    width: 62px;
    height: 62px;
}
.vision .cards .card-1 {
    background-color: rgba(84, 144, 245, 0.2);
}
.vision .cards .card-2 {
    background-color: #C6E4D6;
}
.vision .cards .card-3 {
    background-color: #F7EBCF;
}
.vision .cards .card-1 .vision-card-button{
    color: white;
    padding: 11px 20px;
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}
.vision .cards .card-2 .vision-card-button{
    color: white;
    padding: 11px 20px;
    background-color: #09A15C;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}
.vision .cards .card-3 .vision-card-button{
    color: white;
    padding: 11px 20px;
    background-color: #FFC239;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}
.vision .quote-section{
    background-image: url(./../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 25px;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.vision .quote-section .quote-description{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 80%;
}
.vision .quote-section div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.vision .quote-section div .quote-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}

/* News Section styles */

.news-section{
    margin: 0 160px;
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.news-section .news-title-des{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.news-section-cards{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.news-section-cards .image{
    border-radius: 24px;
    width: 408px;
    height: 306px;
}
.news-section-cards .card-1, .card-2, .card-3{
    padding: 48px;
    display: flex;
    gap: 32px;
    border-radius: 24px;
    border: 1px solid rgba(14, 14, 14, 0.2);
}

.news-section-cards .card-1 .right{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.news-section-cards .card-2 .left{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.news-section-cards .card-3 .right{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.news-section-cards .card-1 .right .news-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.news-section-cards .card-2 .left .news-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.news-section-cards .card-3 .right .news-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.news-section-cards .card-1 .card-logo{
    width: 134px;
    height: 40px;
}
.news-section-cards .card-2 .card-logo{
    width: 134px;
    height: 40px;
}
.news-section-cards .card-3 .card-logo{
    width: 134px;
    height: 40px;
}
.news-section-card-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.news-section-card-description, .news-section-card-published{
    color: rgba(14, 14, 14,0.7);
}
.news-section-card-button{
    border-radius: 8px;
    background-color: #006A50;
    padding: 13px 26px;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

/* Donate section style */

.donate-section{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 80px 160px;
    justify-content: center;
    align-items: center;
}
.donate-section .donate-title-des{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.donate-section .donate-title-des .section-description{
    text-align: center;
}
.donate-section .donate-cards{
    display: flex;
    gap: 24px;
}
.donate-section .donate-cards .card{
    padding: 40px;
    border: 1px solid rgba(14, 14, 14,0.15);
    border-radius: 16px;
}
.donate-section input[type="text"]{
    padding: 20px 400px;
    outline: none;
}
.donate-section input[type="submit"]{
    background-color: #006A50;
    color: white;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
}
.donate-section input[type="submit"]:hover{
    background-color: red;
}

/* NewsLetter Section styles */

.newsletter{
    margin: 0 160px;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    align-items: center;

}
.input-or-submit{
    display: flex;
    gap: 0;
}
.input-or-submit input[type="text"]{
    padding: 18px 40px;
    width: 600px;
    border-radius: 8px 0 0 8px;
    border: none;
}
.input-or-submit input[type="submit"]{
    background-color: #006A50;
    padding: 0 34px;
    font-weight: 600;
    font-size: 18px;
    color: white;
    border-radius: 0 8px 8px 0;
    border: none;
}
.input-or-submit input[type="submit"]:hover{
    background-color: purple;
}
.newsletter .a:hover{
    background-color: purple;
    padding: 10px 15px;
    color: white;
    border-radius: 8px;
}
